<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.craft.notify">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.craft.notify.activities.SliderActivity"
            android:theme="@style/SlidersTheme"></activity>
        <activity
            android:name="com.craft.notify.activities.SplashScreen"
            android:theme="@style/SplashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.craft.notify.activities.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity android:name="com.craft.notify.activities.MainActivity"></activity>
        <receiver android:name=".recievers.TimeReciever">
            <intent-filter>
                <action android:name="TIME_RECIEVER"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".recievers.RemoveServiceReciever">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
                <action android:name="TIME_STOP_SERVICE_RECEIVER"/>
            </intent-filter>
        </receiver>
        <service android:name=".services.NotificationJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true"
            />
        <service
            android:name="com.craft.notify.NotificationServiceList"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
        <service android:name="com.craft.notify.services.TTSService"
            />
        <service android:name=".services.NotificationCollectorMonitorService"/>

        <receiver
            android:name="com.craft.notify.recievers.NotifyReciever"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="NOTIFY_RECIEVER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.craft.notify.recievers.ScreenStateReciever" android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SCREEN_OFF"/>
                <action android:name="android.intent.action.SCREEN_ON"/>

            </intent-filter>
        </receiver>


        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>